<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application >

        <activity
            android:name="com.justwen.androidnga.module.message.compose.MessageListActivity"
            android:exported="false"
            android:label="@string/label_activity_message_list" />

        <activity
            android:name="com.justwen.androidnga.module.message.compose.detail.MessageDetailActivity"
            android:exported="false"
            android:label="@string/label_activity_message_detail" />

        <activity
            android:name="com.justwen.androidnga.module.message.compose.post.MessagePostActivity"
            android:exported="false" />

    </application>


</manifest>